Source: pantheon-agent-polkit
Section: admin
Priority: optional
Maintainer: Cody Garver <cody@elementary.io>
Build-Depends: debhelper (>= 10.5.1),
               libadwaita-1-dev,
               libgranite-7-dev,
               libgtk-4-dev,
               libpolkit-gobject-1-dev,
               libpolkit-agent-1-dev,
               meson,
               valac (>= 0.34.1)
Standards-Version: 4.1.1
Homepage: https://github.com/elementary/pantheon-agent-polkit

Package: pantheon-agent-polkit
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Provides: polkit-1-auth-agent
Description: Polkit authorization designed for Pantheon
 An agent for Polkit authorization designed for Pantheon desktop environment.
