Source: pantheon-agent-polkit
Section: admin
Priority: optional
Maintainer: Cody Garver <cody@elementary.io>
Build-Depends: cmake (>= 2.8),
               cmake-elementary,
               debhelper (>= 9),
               libgtk-3-dev (>= 3.10),
               libpolkit-gobject-1-dev,
               libpolkit-agent-1-dev,
               valac (>= 0.22)
Standards-Version: 3.9.6
Homepage: https://launchpad.net/pantheon-agent-polkit
Vcs-Bzr: lp:pantheon-agent-polkit
Vcs-Browser: http://bazaar.launchpad.net/~elementary-pantheon/pantheon-agent-polkit/trunk/files

Package: pantheon-agent-polkit
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Polkit authorization designed for Pantheon
 An agent for Polkit authorization designed for Pantheon desktop environment.
